<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<div style="background-color: aqua;">
<body>
    <h1>Welcome To The Student Management System App</h1>
    <h3>Navigation Bar</h3>
    <table>
        <button type="home" value="home">Home</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="login" value="login">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="contactus" value="contactus">ContactUs</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="aboutus" value="aboutus">AboutUs</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="register" value="register">Register</button>
    </table>
</body>
</div>
</html>
