<!-- <form>
  <h1>Add New Student Register Form</h1>
  <label for="rollno">Roll No</label>&nbsp;
  <input type="number" [(ngModel)]="addedStudent.rollno" name="rollno" /><br>
  <label for="name">Name</label>&nbsp;
  <input type="text" [(ngModel)]="addedStudent.name" name="name"  /><br>
  <label for="noOfAttempts">No of Attepmts</label>&nbsp;
  <input type="number" [(ngModel)]="addedStudent.noOfAttempts" name="noOfAttempts" /><br>
  <label for="rollno">Roll No</label>&nbsp;
  <input type="number" [(ngModel)]="addedStudent.percentage" name="percentage" /><br>
  <label for="subjectslearning">Subjects Learning</label>&nbsp;
  <input type="text" [(ngModel)]="addedStudent.subjectslearning" name="subjectslearning" />&nbsp;
  <input type="submit" value="Add">
</form> -->
